<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<section>
    <div class="container">
        <h1>Loan details</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Book Name</th>
                <th>Loan Date</th>
                <th>Return Date</th>
            </tr>
            </thead>
            <tbody th:object="${loanRecords}">
            <tr th:each="loanRecord : ${loanRecords}">
                <td th:text="${loanRecords.student.fullName}"></td>
                <td th:text="${loanRecords.book.title}"></td>
                <td th:text="${loanRecords.loanDate}"></td>
                <td th:text="${loanRecords.returnDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container text-right">
        <a class="btn btn-danger" th:href="@{/giveBack/{id}(id = ${loanRecords.getLoanId()})}">Give Back</a>
    </div>
    <div class="container text-center">
        <a class="btn btn-default" href="/books">Back to Book List</a>
    </div>
</section>
</body>
</html>