<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Borrow Book</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
</head>

<body>
<div class="container">
    <h2>Borrow Book</h2>
    <form method="post" th:action="@{/loanRecord}" th:object="${loanRecordDTO}">
        <div class="form-group">
            <label for="book">book id:</label>
            <input th:field="*{book}" hidden="hidden" type="text" class="form-control" name="book" id="book" th:value="${loanRecordDTO.book}"/>
        </div>
        <div class="form-group">
            <label for="studentId">Student ID:</label>
            <input th:field="*{studentId}" type="text" class="form-control" name="studentId" id="studentId" required/>
        </div>
        <div class="form-group">
            <label for="returnDate">Return Date:</label>
            <input th:field="*{returnDate}" type="date" class="form-control" name="returnDate" id="returnDate" required/>
        </div>
        <button type="submit" class="btn btn-default">Borrow Book</button>
    </form>
</div>
</body>

</html>