<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Create NEW Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1 class="mb-3">Create Customer Form</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div>
    <form th:object="${customer}" th:action="@{/Create-Customer}" method="post">

        <div class="mb-3">
            <label for="customerName" class="form-label">Customer name</label>
            <input type="text" id="customerName" th:field="*{customerName}" class="form-control" aria-describedby placeholder="Enter Customer Name">
        </div>

        <div class="mb-3">
            <label class="form-label" >Customer Type</label>
            <select th:field="*{customerType}" class="form-select" aria-label="Default select example">
                <option value="">-- Select an Customer Type --</option>
                <option th:each="customerType : ${customerTypes}" th:value="${customerType.customerTypeId}"
                        th:text="${customerType.customerTypeName}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="customerPhone" class="form-label">Customer Phone</label>
            <input type="text" id="customerPhone" aria-describedby th:field="*{customerPhone}" class="form-control"
                   placeholder="Enter Customer Phone">
        </div>

        <div class="mb-3">
            <label for="customerBirthday" class="form-label">Customer Birthday</label>
            <input type="date" id="customerBirthday" aria-describedby th:field="*{customerBirthday}" class="form-control"
                   placeholder="Enter Customer Birthday">
        </div>


        <div class="mb-3">
            <label for="customerGender" class="form-label">Gender</label>
            <select id="customerGender" class="form-control" th:field="*{customerGender}">
                <option value="" disabled="disabled" selected="selected" hidden="hidden">Choose Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="customerEmail" class="form-label">Customer Email</label>
            <input type="text" id="customerEmail" aria-describedby th:field="*{customerEmail}" class="form-control"
                   placeholder="Enter Customer Email">
        </div>

        <div class="mb-3">
            <label for="customerAddress" class="form-label">Adress</label>
            <input type="text" id="customerAddress" aria-describedby th:field="*{customerAddress}" class="form-control"
                   placeholder="Enter Customer Address">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Create</button>
    </form>

    <div class="container text-center">
        <a class="btn btn-default" href="/home">Back to Home page</a>
    </div>
</div>
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"-->
<!--        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaR7jl"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"-->
<!--        integrity="sha384-0BgCjL632XqaywXHAnflUO8UrbVjCtPIjcFoJOFM8WmjBJf42biyDRD+ho/F6/uQ"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"-->
<!--        integrity="sha384-f3Ix2O/0a+ECMfxiU3LsL+3AjnmkwWfLo94twHsmm3g0f90gC2jrGoF/RD7ZwS50"-->
<!--        crossorigin="anonymous"></script>-->
</body>
</html>